<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -10.000, lng: -43.000},
        zoom: 3,
        mapTypeId: 'hybrid',

        fullscreenControl: false,
        streetViewControl: false,
        mapTypeControl: false,
        rotateControl: false,
        fullscreenControl: false,
        scaleControl: false,

        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.RIGHT_CENTER
        },
        streetViewControl: false,
        streetViewControlOptions: {
            position: google.maps.ControlPosition.RIGHT_TOP
        }
    });
    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    var icons = {
        turtle: {
            icon: "<%= (image_url('icon_turtle.svg')) %> "
        }
    };

    var features = [{
        position: new google.maps.LatLng(-20.0000, -35.0000),
        type: 'turtle'
    }];

    var infowindow = new google.maps.InfoWindow({
        content: "test"
    });

    // Create markers.
    features.forEach(function (feature) {
        var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    });
</script>