<div class="form-mine">
  <h1 class="display-4 text-center"><b>Editing  Turtle Datum</b></h1>

  <%= render 'form', turtle_datum: @turtle_datum %>
  <br/>
  <div class="form-group">
    <%= link_to 'View', @turtle_datum, class: "btn btn-info form-control" %>
    <br/>
    <br/>
    <%= link_to 'Back', turtle_data_path, class: "btn btn-light form-control" %>
  </div>
</div>