<div class="form-mine">
    <h1 class="display-4 text-center"><b>New Turtle Datum</b></h1>
    <p id="notice"><%= notice %></p>
  <%= render 'form', turtle_datum: @turtle_datum %>
    <br/>
    <%= link_to 'Back', turtle_data_path, class: "btn btn-light   form-control" %>
</div>
