<div class="form-mine">

    <h1 class="display-4 text-center"><b>Update Profile</b></h1>

    <%= render 'form', user: @user %>
    <br/>
    <div class="form-group">
      <%= link_to 'View', @user, class: "btn btn-info form-control" %>
      <br/>
      <br/>
      <%= link_to 'Show users', users_path, class: "btn btn-light form-control" %>
    </div>
  

</div>