<div class="form-mine">

  <h1 class="display-4 text-center"><b>New User</b></h1>

  <%= render 'form', user: @user %>
  <br/>
  <%= link_to 'Show users', users_path, class: "btn btn-light   form-control" %>
</div>