<!-- 
    <h1 class="display-4 text-center"><b>Analysis</b></h1>
    <div class="list-group form-mine" id="listTypes">
        <h1>Choose the type of your graph:</h1>
        <button type="button" id="bars" class="list-group-item list-group-item-action">Bars</button>
        <button type="button" id="donuts" class="list-group-item list-group-item-action">Donuts</button>
    </div> -->

<h2 class="display-4 text-center"><b>Analysis</b></h2>
<div class="row">

    <div class="chart-frame container text-center " style="width:65%;">
        <p>Choose the type of your graph:</p>
        <select id="select" class="browser-default custom-select w-100" onchange="changeFunc(value);">
            <option value="3">Tracked Turtle Movement / Time</option>
            <option value="2">Filiated Reseachers / Institutions</option>

            <option value="1">Turtle movement / Age</option>
            <option value="4">Turtle species</option>
            
            
        </select>

        <div class="row align-items-center">
            <div class="col align-items-center" id="chart">
            </div>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {
        $('#chart').html("<%=j(render :partial => 'chart/chart', :locals => {:analysis => 'analysis/2' , :chart_type => 'bars'} )%>");
    });
    function changeFunc($i) {
        $.ajax({
            url: '/chart/analysis/'+$i,
            type: 'GET',
            data: {"type":"bars"},
            success: function (data) {
                $('#chart').html(data);
            }
        });
    }
    changeFunc(3);


</script>