<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      new message from: </br>
      <%= @contact.name %></br>
    </p>
    <p>
      <%= @contact.email %></br>
    
    </p></br>
    <p>
      <%= @contact.message %></br>


      
    </p>
  </body>
</html>