<h1 class="display-4 text-center">Users</h1>
<br/>
<%= render partial: 'table' %>

<br>

<div class="form-mine">
  <%= link_to 'New user', new_user_path, class: "btn btn-success form-control" %>
</div>
