<!-- 
    <h1 class="display-4 text-center"><b>Analysis</b></h1>
    <div class="list-group form-mine" id="listTypes">
        <h1>Choose the type of your graph:</h1>
        <button type="button" id="bars" class="list-group-item list-group-item-action">Bars</button>
        <button type="button" id="donuts" class="list-group-item list-group-item-action">Donuts</button>
    </div> -->

<h2 class="display-4 text-center"><b>Analysis</b></h2>
<div class="row">
    <!-- <div class="text-center ml-5 w-60">
        <p>Filters</p>
        Turtle Species
        <div>
            <input type="checkbox" class="checkbox" value="A" checked><label>Specie A</label> </br>
            <input type="checkbox" class="checkbox" value="B" checked><label>Specie B</label> </br>
            <input type="checkbox" class="checkbox" value="C" checked><label>Specie C</label> </br>
            <input type="checkbox" class="checkbox" value="D" checked><label>Specie D</label> </br>
            <input type="checkbox" class="checkbox" value="E" checked><label>Specie E</label> </br>
            <input type="checkbox" class="checkbox" value="F" checked><label>Specie F</label> </br>
            <input type="checkbox" class="checkbox" value="G" checked><label>Specie G</label> </br>
        </div>
    </div> -->
    <div class="chart-frame container text-center " style="width:65%;">
        <p>Choose the type of your graph:</p>
        <select id="select" class="browser-default custom-select w-100" onchange="changeFunc(value);">
            <option value="1">Turtle movement / Age</option>
            <option value="2">Filiated Reseachers / Institutions</option>
            <option value="3">Average Turtle Movement / Time</option>
        </select>

        <div class="row align-items-center">
            <div class="col align-items-center" id="chart">
            </div>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {
        $('#chart').html("<%=j(render :partial => 'chart/chart', :locals => {:analysis => 'analysis/2' , :chart_type => 'bars'} )%>");
    });
    function changeFunc($i) {
        $.ajax({
            url: '/chart/analysis/'+$i,
            type: 'GET',
            data: {"type":"bars"},
            success: function (data) {
                $('#chart').html(data);
            }
        });
    }
    changeFunc(3);


</script>