<h2 class="display-4 text-center"><b>About us</b></h2>


<p class="text-justify m-4"><i class="fa fa-wifi fa-3x float-left mr-3"></i> Internet of Turtles is an ongoing research project on the fields of Swarm Intelligence and
   Internet of Things, which intends to study and validate the concept of Internet of Things applied
    to hostile and extreme environments through decentralized self-configurable communication
  networks.<br/></p>
<div class="row justify-content-md-center">

  <div class="col-md-auto ml-4">
  <%= image_tag("TurtleCover.jpg", :class => "img-thumbnail", :style => "width: 400px") %>
  </div>
  <br/>
  <div class="col ">
<p class="text-justify m-4">
    To do that, our team decided to focus on the sea turtles tracking problem. There are 7 species
    of sea turtles worldwide and 6 of those are classified as threatened or endangered (in Brazil,
    you can find 5 sea turtle species, all of them either threatened or endangered). Because of that,
    many sea turtle protection organizations currently work to revert such scenario, and one of their
    core activities is the study of sea turtle’s behavior through geolocation electronic modules.
  </div>
  </div>
<p class="text-justify m-4">
  <i class="fa fa-map-marked-alt fa-3x float-left mr-3"></i>
  However, the geolocation modules used nowadays have many problems. Because they use
    satellite communication, they require high power for transmitting the data, resulting in a large
    devices with very low autonomy, not to mention their high cost. For that reason, we decided to
    develop our own geolocation modules using low-cost and low-power IoT boards and an
    innovative communication system.
  <br/>
  <br/>
  <i class="fa fa-laptop-code fa-3x float-right ml-3"></i>
  This system uses open-source LoRa (Long Range) Software
    Defined Radio (SDR) to form a decentralized network with the sea turtles as nodes and a few
    gateways to collect the data, in a way that the data will be transmitted from one turtle to another
    until eventually reaching a gateway on land. The resulting module is projected to be smaller,
    cheaper, more efficient and more autonomous than current solutions.</p>
