<div class="form-mine">
  <h1 class="display-4 text-center"><b>Editing Turtle</b></h1>

  <%= render 'form', turtle: @turtle %>
  <br/>
  <div class="form-group">
    <%= link_to 'View', @turtle, class: "btn btn-info form-control" %>
    <br/>
    <br/>
    <%= link_to 'Back', turtles_path, class: "btn btn-light form-control" %>
  </div>
</div>