<h1>Search Result for: <%= @search_result%></h1>
<% if @users.length > 0  %>
Users
<%= render :partial => 'users/table' %>
<%end%>

<% if @turtles.length > 0 %>
Turtles
<%= render :partial => 'turtles/table' %>
<%end%>